<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>


<div class="background-wrapper">
  <section class="container">
    <section class="row forms">
      <article class="grid-3">
        <div class="inner">
        <section class="row">
          <h3>step 1: create your account</h3>
          <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'card_form form-vertical' }) do |f| %>

            <!--h3><%= params[:plan].titleize if params[:plan] %> Subscription Plan</h3-->

            <%= hidden_field_tag 'plan', params[:plan] %>
            <%= f.error_notification %>
            <%= display_base_errors resource %>
          <article class="grid-3">
            <%= f.input :name, :autofocus => true, :placeholder => 'name' %>
            <%= f.input :email, :required => true, :placeholder => 'email address' %>
          </article>
          <article class="grid-3">
          <%= f.input :password, :required => true, :placeholder => 'password' %>
          <%= f.input :password_confirmation, :required => true, :placeholder => 'password confirmation' %>
          </article>
        </section>
        <section class='row'>
          <h3>step 2: where should we send the coffee?</h3>
          <article class="grid-3">
            <%= f.input :address_1, :required => true, :placholder => 'address 1' %>
            <%= f.input :address_1, :required => true, :placholder => 'address 2' %>
          </article>
          <article class="grid-3">
            <%= f.input :town, :required => true, :placholder => 'town' %>
            <%= f.input :postcode, :required => true, :placholder => 'postcode' %>
          </article>
        </section>
          </div>
      </article>

      <article class="grid-3">
        <div class="inner">
          <h3>step 3: some payment details</h3>
        <aside id="stripe_error" class="alert alert-error" style="display:none" >
        </aside>
        <section class="row">
          <% if @user.stripe_token %>
            <p>Credit card acceptance is pending (tip: check step 1 and 2).</p>
          <% else %>
          <article class="grid-3">
            <div class="field">
              <%= label_tag :card_number, "Credit Card Number" %>
              <%= text_field_tag :card_number, nil, name: nil, :placeholder => 'card number' %>
            </div>
          </article>
          <article class="grid-3">
            <div class="field">
              <%= label_tag :card_code, "Card Security Code (CVV)" %>
              <%= text_field_tag :card_code, nil, name: nil, :placeholder => 'CVV' %>
            </div>
          </article>
        </section>
        <section class="row">
          <article class="grid-4">
            <div class="field">
              <%= label_tag :card_month, "Card Expiration" %>
              <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
              <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
            </div>
          </article>
          <article class="grid-2">
            <div class="field">
              <%= f.input :coupon, :placeholder => 'promo coupon' %>
            </div>
          </article>
          <% end %>
        </section>
          <%= f.hidden_field :stripe_token %>
          <%= f.button :submit, 'Join the club', :class => 'btn btn-yellow' %>
        <% end %>
        </div>
      </article>
    </section>
  </section>
</div>