<div class="background-wrapper">
  <header></header>
  <section class="container">
    <article class="row">
      <section class="grid-4 hero">
        <%= link_to image_tag("bg_logo_compact.png")%>
          <header>
            <h2 id="fittext1">Freshly Roasted Coffee</h2>
            <hr>
            <h2 id="fittext2">Delivered to your door</h2>
            <h3>~ weekly ~ fortnightly ~ monthly ~</h3>
          </header>
      </section>
      <section class="grid-2 action">
        <div class="inner">
          <h3>what do you get?</h3>
          <hr>
          <h4>250g of coffee</h4>
          <h4>two single origins</h4>
          <h4>different every month</h4>
          <h4>free p&P included</h4>
          <hr>
          <span class="price-wrapper">
            <p><span>£7.95</span></br>per 250g</p>
          </span>
          <a href="/users/sign_up?plan=monthly" class="btn-gobrew">
            <%= image_tag("bg_arrow_2.png") %>
          </a>
          <!-- %= link_to 'Go Brew', new_user_registration_path(:plan => 'monthly'), :class => 'btn-gobrew' %-->
        </div>
      </section>
    </article>

  <script type="text/javascript">
    $("#fittext1").fitText(1.3, { maxFontSize: '55px' });
    $("#fittext2").fitText(1.4, { maxFontSize: '52px' });
  </script>
</div>


<!--

      <%= link_to 'Daily', new_user_registration_path(:plan => 'daily'), :class => 'btn btn-primary' %>
        <%= link_to 'Weekly', new_user_registration_path(:plan => 'weekly'), :class => 'btn btn-primary' %>
        <%= link_to 'Fortnightly', new_user_registration_path(:plan => 'fortnightly'), :class => 'btn btn-primary' %>
        <%= link_to 'Testing Silver', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %>


-->