
<nav>
  <%= link_to image_tag("bg_logo_narrow.svg"), root_path %>
  <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete', :class=>"btn" %>
  <% else %>
    <%= link_to 'Login', new_user_session_path, :class=>"btn" %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to 'Edit My account', edit_user_registration_path, :class=>"btn" %>
    <% if current_user.has_role? :admin %>
      <%= link_to 'Admin', users_path, :class=>"btn" %>
    <% end %>
  <% end %>
</nav>