
<nav>
  <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete', :class=>"btn " %>
  <% else %>
    <%= link_to 'The B&G Team', new_user_session_path, :class => "btn" %>
    <%= link_to 'The Coffee', new_user_session_path, :class => "btn" %>
    <%= link_to 'FAQs', new_user_session_path, :class => "btn" %>
    <%= link_to 'Sign In', new_user_session_path, :class=>"btn btn-yellow" %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to 'Edit My account', edit_user_registration_path, :class=>"btn btn-yellow" %>
    <% if current_user.has_role? :admin %>
      <%= link_to 'Admin', users_path, :class=>"btn" %>
    <% end %>
  <% end %>
</nav>